<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>
	<title>Listagem de Vinhos</title>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>
						Listagem de Vinhos
					</h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn btn-primary" th:href="@{/vinhos/novo}">
							<i class="fa  fa-plus-circle"></i> <span class="hidden-xs  hidden-sm">Novo vinho</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		
		<div class="table-responsive">
			<table id="tabela-produtos" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
				<thead class="aw-table-header-solid">
					<tr>
						<th>Código</th>
						<th>Nome</th>
						<th class="table-pesq-produto-col-preco">Tipo</th>
						<th class="table-pesq-produto-col-estoque">Safra</th>
						<th class="table-pesq-produto-col-status">Volume</th>
						<th class="table-pesq-produto-col-acoes">Valor</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="vinho : ${vinhos}">
						<td th:text="${vinho.codigo}">1</td>
						<td><a th:href="@{/vinhos/{codigo}(codigo=${vinho.codigo})}" th:text="${vinho.nome}">Viña Amalia</a></td>
						<td class="table-pesq-produto-col-preco" th:text="${vinho.tipo.descricao}">Tinto</td>
						<td class="table-pesq-produto-col-estoque" th:text="${vinho.safra}">2013</td>
						<td class="table-pesq-produto-col-status" th:text="${vinho.volume}">750ml</td>
						<td class="table-pesq-produto-col-acoes" th:text="${vinho.valor}">R$ 55,00</td>
					</tr>
					<tr th:if="${vinhos.empty}">
						<td colspan="6">Nenhum registro encontrado.</td>
					</tr>
				</tbody>
			</table>
		</div>
			
		<div class="row">
			<div class="col-xs-12  col-md-8  aw-text-xs-center  aw-text-md-left">
				<nav>
					<ul class="pagination  pagination-sm">
						<li><a href="#"><i class="fa  fa-angle-double-left"></i></a></li>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#"><i class="fa  fa-angle-double-right"></i></a></li>
					</ul>
				</nav>
			</div>
			<div class="col-xs-12  col-md-4  aw-text-xs-center  aw-text-md-right">
				<span class="aw-pagination-info">
					102 produtos encontrados
				</span>
			</div>
	
		</div>
	</div>

</section>
</body>
</html>