<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/LayoutPadrao">
	
<head>
	<title th:text="${vinho.nome}">Vinho</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/vendors/upload.min.css}"/>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1 th:text="${vinho.nome}">vinho</h1>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-9 js-container-foto">
				<img th:src="${vinho.url}" th:if="${vinho.temFoto()}" class="img-responsive" style="margin: auto;"/>
			
				<div id="upload-drop" class="wn-upload" th:attr="data-codigo=${vinho.codigo}"
						th:if="${not vinho.temFoto()}">
					<img th:src="@{/images/mockup-garrafa.png}" class="img-responsive" style="margin: auto;"/>
					<div>
						<span>Arraste a foto aqui ou</span>
						<a class="wn-upload-form-file">Selecione <input id="upload-select" type="file" accept=".jpg,.jpeg,.png"/></a>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<ul class="list-group">
					<li class="list-group-item" th:text="|Vinho ${vinho.tipo.descricao}|">tinto</li>
					<li class="list-group-item" th:text="|${vinho.volume}ml|">750</li>
					<li class="list-group-item" th:text="${vinho.safra}">2013</li>
					<li class="list-group-item" th:text="|$ ${vinho.valor}|">20.00</li>
				</ul>
			</div>
		</div>
	</div>

</section>
<th:bolck layout:fragment="javascript-extra">
	<script th:src="@{/javascript/vendors/uikit.min.js}"></script>
	<script th:src="@{/javascript/vendors/upload.min.js}"></script>
	<script th:src="@{/javascript/vinho-upload.js}"></script>
</th:bolck>
</body>
</html>